services:
  trainer:
    build:
      context: .
      dockerfile: training/Dockerfile
    container_name: iris-trainer
    environment:
      - MODEL_OUT=/app/artifacts/iris_model.joblib
    volumes:
      - ./artifacts:/app/artifacts

  iris-blue:
    image: iris-api:local
    build:
      context: .
      dockerfile: service/Dockerfile
    container_name: iris-blue
    environment:
      - MODEL_PATH=/app/artifacts/iris_model.joblib
      - PORT=8000
    volumes:
      - ./artifacts:/app/artifacts:ro
    ports:
      - "8001:8000"

  iris-green:
    image: iris-api:local
    build:
      context: .
      dockerfile: service/Dockerfile
    container_name: iris-green
    environment:
      - MODEL_PATH=/app/artifacts/iris_model.joblib
      - PORT=8000
    volumes:
      - ./artifacts:/app/artifacts:ro
    ports:
      - "8002:8000"

  nginx:
    image: nginx:alpine
    container_name: iris-nginx
    depends_on:
      - iris-blue
      - iris-green
    ports:
      - "8081:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro

